html{
    height: 100%;
    background-color: rgb(75, 95, 152);
    color: white;
    font-family: 'Helvetica', sans-serif;
  }
  
  body{
    height: 100%;
    font-size: 16px;
  }
  
  main{
    display: flex;
    margin: 15% 2%;
  }
  
  section{
    width: 100%;
    border: 1em solid white;
    padding: 1em;
  }

 .maintitle{
    border: 1em solid white;
    padding: 0.125em;
    margin: 0.125em;
    text-align: center;
 }

 .projectinfo {
    padding: 0.125em;
    margin: 0.125em;
    text-align: center;
 }
  
  h3{
    height: 1em;
    text-decoration: underline;
    text-align: center;
  }
  
  .option{
    margin-bottom: 0.5em;
    text-align: center;
  }
  
  input{
    margin-right: 0.4375em;
    text-align: center;
  }
  
  #roleInputs{
    flex-grow: 1;
  }
  
  #companyInputs{
    flex-grow: 1;
  }
  
  #resultsContainer{
    flex-grow: 2; 
    text-align: center;
  }
  
  input{
    background-color: rgb(100, 114, 158);
    border-color: white;
  }